@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 1.8rem;
    line-height: 1.6;
}

nav {
    height: 9rem;
}

.btn {
    width: 105px;
    height: 40px;
    border-radius: 15px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    height: 9rem;
}

.addProduct-body {
    margin-top: 9.45rem;
    margin-bottom: 9.45rem;
}

.image-container {
    width: 348px;
    height: 442px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h6 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h5 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box01 {
    border-radius: 15px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(0deg, #A97D7D 0%, #A97D7D 100%), #A97D7D;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
}

.window3Text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.window3IconCantainer {
    width: 60px;
    height: 60px;
}

.window3IconCantainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.window4Text1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.window4ImgContainer {
    height: 382px;
}

.window4ImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.window4IconContainer {
    width: 35px;
    height: 35px;
}

.window4IconContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.window5Text1 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input{
    outline: none;
}

input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
}

.window9ImgContainer {
    height: 375px;
}

.box01:hover, .option-box2:hover{
    background: linear-gradient(0deg, #d6d6d6 0%, #d6d6d6 100%), linear-gradient(0deg, #A97D7D 0%, #A97D7D 100%), #A97D7D;
    transition-duration: 2s;
    cursor: pointer;
}

.select{
    border-color: transparent;
}

.imgsel{
    text-decoration: none;
    text-decoration: underline;
}

.imgsel:hover{
    cursor: pointer;
}

.btnprice{
    height: 60px;
    width: 100%;
    border-radius: 20px;
    font-size: large;
    color: white;
    border-style: none;
    background-color: rgb(188, 17, 68);
    transition-duration: 1s;
}

.btnprice:hover{
    background-color: rgb(208, 0, 111);
    cursor: pointer;
}